// Const
$hamburger-top: 40px;
$hamburger-right: 45px;
$menu-transition-time: 300s;

// Styling Code
#main-header {
    -webkit-transition: all $menu-transition-time / 1000;
    -moz-transition: all $menu-transition-time / 1000;
    transition: all $menu-transition-time / 1000;
    }

#main-header.invisible {
    opacity: 0;
    top: -1000% !important;
    display: none;
}

.et-fixed-header#main-header {
    opacity: 0;
}

#main-header.detached {
    position: fixed !important;
    top: 0;
    opacity: 1 !important;
}

.updown-hamburger {
    position: fixed;
    top: $hamburger-top;
    right: $hamburger-right;
    z-index: 99999;
    /* width: 48px;
height: 48px; */
    /* border-radius: 24px; */
}

.hide-this-element,
.hide-updown-hamburger {
    display: none;
}


@media (max-width: 980px) {
    /* Tablets */
}
@media only screen and ( max-width: 768px ) {

 #main-header.invisible { display:none; }
 #page-container.invisible { padding-top:0px !important }
 #page-container { margin-top:0px !important }
 .updown-hamburger {
    top: $hamburger-top * 0.6;
    right: $hamburger-right;
}
 /* #main-footer { display:none; } */
 }

 .et_mobile_menu {
     overflow: scroll !important;
     max-height: 83vh;
 }
